
.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
    background: #f0e9dccd;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.bore {
    margin: 20px auto;
    width: 180px;
    padding: 15px;
    font-size: 16px;
    background: #708EF1;
    color: #000;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    height: 75px;
}


.menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

nav {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background: #ffffff;
    color: #000;
    cursor: pointer;
    height: 75px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logu {
    height: 80px;
    width: auto;
    margin-top: 15px;
}

.nav-center {
    display: flex;
    gap: 35px;
}

.nav-center a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease;
}

.nav-center a:hover {
    color: #4a64f5;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    color: #4a64f5;
    cursor: pointer;
    transition: 0.2s;
}

.icon:hover {
    opacity: 0.7;
    color: #fff;
}

.user-icon {
    border: 2px solid #4a64f5;
    border-radius: 50%;
    padding: 6px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.user-icon:hover {
    background-color: #4a64f5;
    color: white;
}

.perfil {
    text-align: center;
}

.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #000;
}

.perfil button {
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    background: #ffffff81;
    cursor: pointer;
}

.campos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-size: 14px;
    margin-bottom: 5px;
}

.campo input {
    border: none;
    border-radius: 30px;
    padding: 10px;
    background: #A4D3DE;
    border: 1px solid #000;
    font-size: 15px;
    color: #636363;
}

.campo input:focus {
    outline: 2px solid #3498db;
}

.campo-full {
    grid-column: span 2;
}

.logobebe {
    background-color: rgba(164, 211, 222, 0.678);
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
}

.logobebe img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .campos {
        grid-template-columns: 1fr;
    }
    
    .campo-full, .campo {
        grid-column: span 1;
    }
    
    .menu {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }
}